<div class="forget-password-container">
    <!-- <div class="background-image"></div> -->
    <form
      class="forget-form"
      (ngSubmit)="onSubmit()"
      #forgetPasswordForm="ngForm"
      ngNativeValidate
    >
      <h2>Reset Password</h2>
  
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          required
          [(ngModel)]="email"
          placeholder="Email"
          [readonly]="isEmailVerified"
          required
        />
      </div>
      <div *ngIf="step === 'otp-verification'" class="form-group">
        <label for="otp">Enter OTP:</label>
        <input
          type="text"
          id="otp"
          name="otp"
          pattern="[0-9]{6}"
          required
          [(ngModel)]="otp"
          title="Invalid input. Please enter a 6-digit number."
          required
        />
      </div>
      <div *ngIf="step === 'new-password'" class="form-group">
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          required
          [(ngModel)]="newPassword"
          placeholder="New Password"
          required
        />
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
          [(ngModel)]="confirmPassword"
          placeholder="Confirm Password"
          required
        />
      </div>
      <button class="submit-button" type="submit">Submit</button>
      <div class="login">
        <button
          type="button"
          class="btn btn-secondary"
          routerLink="/login"
        >
          <i>Already a User? Login</i>
        </button>
      </div>
      <div class="signup">
        <button
          type="button"
          class="btn btn-secondary"
          routerLink="/register"
        >
          <i>New User? SignUp</i>
        </button>
      </div>
    </form>
  </div>
