<ngx-ui-loader></ngx-ui-loader>
    <a routerLink="">
        
        <div class="flex flex-col items-center justify-center ">
            <button 
                class="cursor-pointer flex-col justify-center items-center mb-6 text-3xl font-semibold text-white">
                    <!-- <i class="fas fa-coffee mr-4 mt-2"></i> -->
                    <span class="mx-auto font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-500 to-pink-500">
                        <i class="fas fa-coffee mr-4 mt-20"></i>SplitBills
                    </span>
                
            </button>
        </div>

    </a>

<div class="forget-password-container">
    <!-- <div class="background-image"></div> -->
    <form
      class="forget-form"
      (ngSubmit)="onSubmit()"
      #forgetPasswordForm="ngForm"
      ngNativeValidate
    >
      <h2>Reset Password</h2>
  
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          required
          [(ngModel)]="email"
          placeholder="Email"
          [readonly]="isEmailVerified"
          required
        />
      </div>
      <div *ngIf="step === 'otp-verification'" class="form-group">
        <label for="otp">Enter OTP:</label>
        <input
          type="text"
          id="otp"
          name="otp"
          pattern="[0-9]{6}"
          required
          [(ngModel)]="otp"
          title="Invalid input. Please enter a 6-digit number."
          required
        />
      </div>
      <div *ngIf="step === 'new-password'" class="form-group">
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          required
          [(ngModel)]="newPassword"
          placeholder="New Password"
          required
        />
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
          [(ngModel)]="confirmPassword"
          placeholder="Confirm Password"
          required
        />
      </div>
      <button class="submit-button" type="submit">Submit</button>
      <div class="login">
        <button
          type="button"
          class="btn btn-secondary"
          routerLink="/login"
        >
          <i>Already a User? Login</i>
        </button>
      </div>
      <div class="signup">
        <button
          type="button"
          class="btn btn-secondary"
          routerLink="/register"
        >
          <i>New User? SignUp</i>
        </button>
      </div>
    </form>
  </div>
