<nav class="navbar navbar-expand-lg navbar-dark navColor">
  <div class="container-fluid" style="margin-left: 70px">
    <img
      class="navImage"
      src="../assets/logo.png"
      alt="logo not found"
      style="height: 40px; position: absolute; left: 2px; top: 5px"
    />
    <a 
      class="navbar-brand brand"
      >SplitiBills
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="_login.isLoggedIn() == true">
          <a class="nav-link active" [routerLink]="['/']">Home</a>
        </li>
      
        <li class="nav-item" *ngIf="_login.isLoggedIn() == true">
          <a class="nav-link active" [routerLink]="['/groups']">Groups</a>
        </li>
        <li class="nav-item" *ngIf="_login.isLoggedIn() == false">
          <a class="nav-link active" [routerLink]="['/login']">Login</a>
        </li>
      
        <li class="nav-item" *ngIf="_login.isLoggedIn() == false">
          <a class="nav-link active" [routerLink]="['/register']">Register</a>
        </li>
        
      </ul>
      
      <div class="dropdown-container ms-auto" *ngIf="_login.isLoggedIn() == true">
      
        <button class="dropdown-button">
          <span>{{loggedInUser.name}}</span>
          <span class="dropdown-icon">&#9660;</span>
        </button>
      
        <div class="dropdown-content">
          <!-- Dropdown items -->
          <a href="#" class="dropdown-item" [routerLink]="['/profile']">Your account</a>
          <a href="#" class="dropdown-item" (click)="logoutUser()">Logout</a>
        </div>
      
      </div>
      
      
    </div>

  </div>
</nav>
<br/>

<!-- <app-home></app-home> -->
<router-outlet></router-outlet>