.navColor {
  background-color: #102d59f1;
}

.fa-youtube {
  color: red;
}
.call {
  text-decoration: none;
}
.footers {
  /* position: fixed; */
  left: 0;
  bottom: 0;
}
g {
  cursor: pointer;
}
.navImage {
  margin-top: 2px;
  margin-left: 2px;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

 /* Reset default margin and padding for the page */


/* Style the navigation container */
.dropdown-container {
  position: relative;
  display: inline-block;
}

/* Style the button that triggers the dropdown */
.dropdown-button {
  background-color: #102d59f1; 
  color: white; /* White text color */
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Light gray background color */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow */
  z-index: 1; /* Position the dropdown above other elements */
  min-width: 160px; /* Adjust as needed */
  right: 0; /* Align with the right edge */
}

/* Style the dropdown items */
.dropdown-item {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #333; /* Text color */
}

/* Change color on hover */
.dropdown-item:hover {
  background-color: #ddd; /* Light gray background color on hover */
}

/* Show the dropdown content when the button is clicked (focused) */
.dropdown-container:focus-within .dropdown-content {
  display: block;
}

/* Style the dropdown icon */
.dropdown-icon {
  margin-left: 5px;
}
