<nav class="navbar navbar-expand-lg navbar-dark navColor">
  <div class="container-fluid" style="margin-left: 70px">
    <img
      class="navImage"
      src="../assets/logo.png"
      alt="logo not found"
      style="height: 40px; position: absolute; left: 2px; top: 5px"
    />
    <a 
      class="navbar-brand brand"
      >SplitiBills
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/']">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active"  [routerLink]="['/groups']">Groups</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/login']">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active"  [routerLink]="['/register']">Register</a>
        </li>
      </ul>

      <!-- <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a  class="nav-link active text-capitalize">Hi, </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"          
          >
            Logout
          </a>
        </li>
      </ul> -->
    </div>

  </div>
</nav>
<br/>

<!-- <app-home></app-home> -->
<router-outlet></router-outlet>