<div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="">
          <div class="">
            <p class="mainHeading">Sharing Expenses?</p>
            <br />
            <i class="fa-solid fa-plane fa-2xl"></i> &nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa-solid fa-house fa-2xl"></i> &nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa-solid fa-car fa-2xl"></i>&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
  
            <i class="fa-solid fa-pizza-slice fa-2xl"></i>
            <hr />
  
            <p class="mainHeading">Welcome to SplitBills!!</p>
            <p class="mainHeading">Make Bill split easy with SplitBills!!</p>
            <button class="btn btn-success btn-lg"
            [routerLink]="['/register']">
              Sign Up
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
  
            <button class="btn btn-info btn-lg"
            [routerLink]="['/login']">
              Login
            </button>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="col-md-6"></div>
  
      <!-- <hr /> -->
  
      <!-- <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="card" style="width: 18rem">
          <img src="../../assets/globe.gif" class="card-img-top" alt="..." />
          <div class="card-body text-center">
            <h3>Travel Around</h3>
          </div>
        </div>
      </div>
      
  
      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <img src="../../assets/food.png" class="card-img-top" alt="..." />
          <div class="card-body text-center">
            <h3>Split your food bills</h3>
          </div>
        </div>
      </div>
    </div> -->
    </div>
  </div>
  