<br />
<div class="container">
  <div class="row">
    <!-- <div class="card topcard">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 text-center vl">
            <h5>Important Links</h5>
          </div>

          <div class="col-md-3 text-center vl">
            <a class="impLinks"
              >Add an Expense</a
            >
          </div>

          <div class="col-md-3 text-center vl">
            <a class="impLinks">
              All Expenses of this Group
            </a>
          </div>

          <div class="col-md-3 text-center vl">
            <a class="impLinks">
              Group Members</a
            >
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-7 col-sm-12 table-responsive">
      <h2 class="yourExpenseheading">{{currentGroup.groupName}}</h2>
      <hr />
      <h4 class="yourExpenseheading">Your Expenses</h4>
      <div
        class="alert alert-success"
        *ngIf="expenses.length == 0"
      >
        <strong class="text-bold">
          No Expenses, Add Now
          <i class="fa-regular fa-face-smile fa-2xl"></i
        ></strong>
      </div>
      <table
        *ngIf="expenses.length > 0"
        class="table table-bordered table-hover table-striped tableTop"
      >
        <thead class="tableHeadColor">
          <tr>
            <th class="headingsTable">Expense</th>
            <th class="headingsTable">Amount</th>
            <th class="headingsTable">Date</th>
            <th class="headingsTable">Settlement</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let expense of expenses">
            <td class="tableSpace">
              <p
                class="text-capitalize fs-5"
              >
                {{ expense.description }}
              </p>
              <div class="form-text">
                Created by:
                <span
                  *ngIf="expense.addedBy.email == loggedInUser.email"
                  >You</span
                ><span
                  *ngIf="expense.addedBy.email != loggedInUser.email"
                >
                  {{ expense.addedBy.name }}</span
                >
              </div>
            </td>
            
            <td>{{ expense.amount | currency: "INR":"symbol":"1.0-0" }}</td>
            <td>{{expense.date}}</td>
            <td>
              <button
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="assignExpenseToModal(expense)"
                class="btn btn-outline-primary"
              >
                Check
              </button>
              <button 
                class="bean-button"
                (click)="deleteExpense(expense)"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
    <br />

    <div class="col-md-5 col-sm-12">

      <div class="card">
        <div class="card-header text-center fs-4 allExpensesHeading">
            <a [routerLink]="'/groups/view-group-members/' + groupId">View Group Members</a> <i class="fa-solid fa-money-check-dollar fa-lg"></i>
        </div>
      </div>  

            

      <div class="card">
        <div class="card-header text-center fs-4 allExpensesHeading">
          Add an Expense <i class="fa-solid fa-money-check-dollar fa-lg"></i>
        </div>
        <div class="card-body">
          
          <form [formGroup]="expenseForm">
            <div class="mb-3">


              <label for="description" class="form-label"
                >Expense Name</label>
              <input
                #tname
                required
                maxlength="20"
                type="text"
                class="form-control"
                id="transactionName"
                aria-describedby="description"
                formControlName="description"
                required="true"
              />
              <span
                class="text-danger"
                *ngIf="
                  expenseForm.get('description').hasError('required') && expenseForm.get('description').touched
                "
                >Expense Name is required</span
              >
              
            </div>
            <div class="mb-3">
              <label for="amount" class="form-label">Amount</label>
              <input
                type="number"
                class="form-control"
                id="amount"
                formControlName="amount"
              />
              
              <div *ngIf="expenseForm.get('amount').hasError('required') && expenseForm.get('amount').touched" class="text-danger">
                Amount is required
              </div>
              <div *ngIf="expenseForm.get('amount').hasError('min')" class="text-danger">
                Amount must be greater than or equal to 1
              </div>
              
            </div>

            <div class="mb-3">
                <label>Select a Date:</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="date" 
                />
                <span *ngIf="expenseForm.get('date').hasError('required') && expenseForm.get('date').touched" class="text-danger">
                  Date is required
                </span>
            </div>

            
              
            
            <div class="mb-3">
              <label for="upiId" class="form-label">UPI Id </label>
              <span id="userEmailId" class="form-text"> (This is optional) </span>
              <input
                type="text"
                class="form-control"
                id="upiId"
                formControlName="upiId"
              />
            </div>
            Members Involved:
            <div id="defaultMemberMessage" class="form-text">
              You are by default included in this expense.
            </div>
            <div formArrayName="membersOfExpense">
              <div
                class="form-check"
                *ngFor="
                  let checkbox of membersOfExpense;
                  let i = index
                "
              >
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="flexCheckDefault" 
                  [formControlName]="i">
                  <span class="text-capitalize">
                    {{ groupMembers[i].name }}
                  </span>
                </label>
              </div>
            </div>
            
            <span
              class="text-danger"
              *ngIf="
                expenseForm.get('membersOfExpense').hasError('required') &&
                expenseForm.get('membersOfExpense').touched
              "
              >Select at least 1 member</span
            >
            </form>
        </div>
        <div class="card-footer d-flex justify-content-center align-items-center">
          <button
            type="submit"
            class="btn btn-primary"
            (click)="addNewExpense()"
          >
            Add Expense
          </button>

          <!-- <svg
            *ngIf="showSuccess"
            class="checkmark"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 52 52"
          >
            <circle
              class="checkmark__circle"
              cx="26"
              cy="26"
              r="25"
              fill="none"
            />
            <path
              class="checkmark__check"
              fill="none"
              d="M14.1 27.2l7.1 7.2 16.7-16.8"
            />
          </svg> -->
        </div>
      </div>
    </div>
    <br />
  </div>
  <hr />

  <!-- Modal -->

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-capitalize" id="exampleModalLabel">
            {{ expenseInModal.description }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div
              *ngIf="expenseInModal.addedBy.email == loggedInUser.email"
            >
              <div
                *ngFor="let member of splitExpensesInModal"
              >
                <p
                  *ngIf="member.user.email != loggedInUser.email"
                >
                  <i class="fa-solid fa-plus greenPlus"></i>
                  <span class="text-capitalize">&nbsp;&nbsp;{{member.user.name}}</span>

                  <span *ngIf="!member.isPaid"> will pay you</span>
                  <span *ngIf="member.isPaid"> paid you</span>
                  {{
                    expenseInModal.amount / splitExpensesInModal.length
                    | currency: "INR":"symbol"
                  }}
                </p>
              </div>
            </div>

            <br />

            <div
              *ngFor="let member of splitExpensesInModal"
            >
              <div
                *ngIf="
                  expenseInModal.addedBy.email != loggedInUser.email &&
                  member.user.email == loggedInUser.email
                "
              >
                <i class="fa-solid fa-minus redMinus"></i>
                <span class="fs-5">You</span>
                <span class="fs-5" *ngIf="!member.isPaid"> have to pay</span>
                <span class="fs-5" *ngIf="member.isPaid"> paid </span>

                <span class="fs-5">
                  {{
                    expenseInModal.amount /
                    splitExpensesInModal.length
                      | currency: "INR":"symbol"
                  }}
                  to
                </span>
                <span class="text-capitalize fs-5">
                  {{ expenseInModal.addedBy.name }}</span
                >
                &nbsp;
                <span *ngIf="member.isPaid" class="badge text-bg-success">
                  Settled</span
                >
              </div>
            </div>

            <br />
            
            Created By:
            <span class="text-capitalize">{{
              expenseInModal.addedBy.name
            }}</span>
            <span
              *ngIf="
                expenseInModal.addedBy.email ==
                loggedInUser?.email
              "
            >
              (You)</span
            >
            &nbsp;
            <span *ngIf="expenseSettled==true" class="badge text-bg-success"
              >Settled</span
            >
            <div class="text-secondary" *ngIf="expenseInModal.upiId">
              UPI ID: {{ expenseInModal.upiId }}
            </div>
          </div>
          <br />
          <button
            class="btn btn-primary col-8 offset-2"
            [routerLink]="'/expense-details/'+ expenseInModal.expenseId"
            data-bs-dismiss="modal"
          >
            More Details
          </button>
          <br />
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <!-- <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-capitalize" id="exampleModalLabel">
            {{ transactionInModal?.transactionName }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <div
              *ngIf="
                transactionInModal?.initiatedBy.userEmailId ==
                loggedInUser?.userEmailId
              "
            >
              <div
                *ngFor="let member of transactionInModal?.membersOfTransaction"
              >
                <p
                  *ngIf="member?.userEmailId != loggedInUser?.userEmailId"
                  class="fs-5"
                >
                  <i class="fa-solid fa-plus greenPlus"></i>
                  <span class="text-capitalize"> {{ member?.memberName }}</span>

                  <span *ngIf="!member?.paid"> will pay you</span>
                  <span *ngIf="member?.paid"> paid you</span>
                  {{
                    transactionInModal?.amount /
                      transactionInModal?.membersOfTransaction.length
                      | currency: "INR":"symbol"
                  }}
                </p>
              </div>
            </div>

            <br />
            <div
              *ngFor="let member of transactionInModal?.membersOfTransaction"
            >
              <div
                *ngIf="
                  transactionInModal?.initiatedBy.userEmailId !=
                    loggedInUser?.userEmailId &&
                  member?.userEmailId == loggedInUser?.userEmailId
                "
              >
                <i class="fa-solid fa-minus redMinus"></i>
                <span class="fs-5">You</span>
                <span class="fs-5" *ngIf="!member?.paid"> have to pay</span>
                <span class="fs-5" *ngIf="member?.paid"> paid </span>

                <span class="fs-5">
                  {{
                    transactionInModal?.amount /
                      transactionInModal?.membersOfTransaction.length
                      | currency: "INR":"symbol"
                  }}
                  to
                </span>
                <span class="text-capitalize fs-5">
                  {{ transactionInModal?.initiatedBy.memberName }}</span
                >
                &nbsp;
                <span *ngIf="member?.paid" class="badge text-bg-success">
                  Settled</span
                >
              </div>
            </div>
            <br />

            Created By:
            <span class="text-capitalize">{{
              transactionInModal?.initiatedBy.memberName
            }}</span>
            <span
              *ngIf="
                transactionInModal?.initiatedBy.userEmailId ==
                loggedInUser?.userEmailId
              "
            >
              (You)</span
            >
            &nbsp;
            <span *ngIf="transactionSettled" class="badge text-bg-success"
              >Settled</span
            >
            <div class="text-secondary" *ngIf="transactionInModal?.upiId">
              UPI ID: {{ transactionInModal?.upiId }}
            </div>
          </div>
          <br />
          <button
            class="btn btn-primary col-8 offset-2"
            [routerLink]="[
              '/transactions-details',
              transactionInModal?.transactionId
            ]"
            data-bs-dismiss="modal"
          >
            More Details
          </button>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
