<div class="bootstrap-wtapper">

  <div class="container">

      <div class="row" style="margin-top: 20px">

          <div class="col-md-6 offset-md-3">

              <div class="container text-center">
                  <img src="../../../assets/logo.png" alt="">
              </div>
              
              
              <h1 class="text-center">Register here !!</h1>

              <!-- {{user | json}} -->

              <form (ngSubmit)="formSubmit()" class="text-center"> 

               


                    <!-- Name field-->
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input 
                        [(ngModel)]="user.name"
                        name="name"
                        matInput placeholder="Enter here">
                      </mat-form-field>
                    </p>

                    <!-- Email field -->
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input 
                        [(ngModel)]="user.email"
                        name="email"
                        type="email" matInput placeholder="Enter here">
                      </mat-form-field>
                    </p>


                     <!-- Password field -->
                     <p>
                      <mat-form-field appearance="outline">
                          <mat-label>Password</mat-label>
                          <input 
                          [(ngModel)]="user.password"
                          name="password"
                          type="password" matInput placeholder="Enter here">
                        </mat-form-field>
                    </p>

                    <div class="container">

                      <button type="submit" mat-raised-button color="primary">Register</button>
                      <button style="margin-left: 20px" mat-raised-button color="accent" (click)="clear()">Clear</button>

                    </div>

              </form>

          </div>

      </div>

  </div>

</div>